<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="~/Content/Site.css"/>
    </head>
    <body>
        @Html.ActionLink("На главную", "Index", "Home")
        <div>
            @RenderBody()
        </div>
    </body>
</html>