@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h3>Товары интернет магазина Froggy flop</h3>
<table>
    <thead>
        <tr>
            <td>Название</td>
            <td>Краткое описание</td>
            <td>Цена (руб)</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var frog in ViewBag.Frogs)
            {
                <tr>
                    <td>@frog.Name</td>
                    <td>@frog.ShortDesc</td>
                    <td>@frog.Price.ToString("c")</td>
                    <td><a href="/Home/Buy/@frog.Id">Купить</a></td>
                </tr>
            }
        }
    </tbody>
</table>
